$gray: #474C5D;
$primary: #3454D1;
$secondary: #7B9AB4;
$success: #28A745;
$danger: #DC3545;
$warning: #FCAF23;
$yellow: #f4f1bb;
$info: #3BACFF;
$light: #f8f9fa;
$mute: #6c757d;
$dark: #212121;
$black: #070707;
$light-background-grey: #F4F4F4;
$grey-stroke: #e4e4e8;

$main-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "yellow": $yellow,
    "info": $info,
    "gray": $gray,
    "light": $light,
    "mute": $mute,
    "dark": $dark,
    "black": $black,
);

$theme-colors: $main-colors;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25, // 4px
        2: $spacer * .5, // 8px
        3: $spacer * .75, // 12px
        4: $spacer, // 16px
        5: $spacer * 1.25, // 20px
        6: $spacer * 1.5, // 24px
        7: $spacer * 1.75, // 28px
        8: $spacer * 2, // 32px
        9: $spacer * 2.25, // 36px
        10: $spacer * 2.5, // 40px
);

$font-size-base: 1rem;
$font-sizes: (
        1: $font-size-base * .625, // 10px
        2: $font-size-base * .75, // 12px
        3: $font-size-base * .875, // 14px
        4: $font-size-base, // 16px
        5: $font-size-base * 1.125, // 18px
        6: $font-size-base * 1.25 // 20px
);

$border-color: #CBD7DD;
$background: #ECEFF1;

$primary-bg-subtle: inherit;
$btn-close-width: 1.5rem;

// Back
$btn-back-width: $btn-close-width;
$btn-back-height: $btn-close-width;
$btn-back-color: #333333;

$btn-back-bg: url("data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path stroke='#{$btn-back-color}' d='m12.5 17.5 6-6m0 0-6-6m6 6h-14' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

// Transitions
$transition-duration-base: 150ms;
$transition-timing-function-base: ease-out;
