html {
  direction: ltr;
}

html, body, #app {
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  background: #F5F5F8;
}

p {
  margin-bottom: 0 !important;
}

@import "variables";
@import "bootstrap";

@import "reboot";

@import "helpers/icons";

@import "mixins/text-styles";
@import "mixins/responsive";
@import "mixins/scrollbar";

@import "components/header";
@import "components/autocomplete";
@import "components/modal";
@import "components/form";
@import "components/offcanvas";
@import "components/tooltip";
@import "components/calendar-view";
@import "components/date-picker";
@import "components/doctor";
@import "components/back";
@import "components/calendar-slider";
@import "functions";


.fs-3 {
  line-height: 24px !important;
}

// Text styles
@include make-responsive() using($infix) {
    .subtitle-1#{$infix} {
        @include subtitle-1(true);
    }

    .subtitle-2#{$infix} {
        @include subtitle-2(true);
    }

    .subtitle-3#{$infix} {
        @include subtitle-3(true);
    }

    .body-1#{$infix} {
        @include body-1(true);
    }

    .body-2#{$infix} {
        @include body-2(true);
    }

    .caption-1#{$infix} {
        @include caption-1(true);
    }

    .caption-2#{$infix} {
        @include caption-2(true);
    }

    .header-5#{$infix} {
        @include header-5(true);
    }

    .header-6#{$infix} {
        @include header-6(true);
    }

    .header-3#{$infix} {
        @include header-3(true);
    }
}
