.doctor-details {

    .active-doctor-details {
        color: #3454d1 !important;
        border-bottom: 1.5px solid $primary;
        border-radius: 0 !important;
        padding-bottom: 10px;
    }

    &__profile {
        &-image {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        &-name {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
        }

        &-expertise {
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__description {
        &-title {
            font-size: 12px;
            line-height: 24px;
        }

        &-content {
            &--text {
                transition: .3s all;

                &-close {
                    height: 182px;
                    overflow: hidden;
                }

                &-open {
                    height: fit-content;
                }

                &-overlay {
                    position: absolute;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.6) 50%, rgb(255, 255, 255) 90%);
                    width: 100%;
                    left: 0;
                    z-index: 10 !important;
                    top: 0;
                }

            }

            &-button {
                position: relative;
                align-self: end;
                z-index: 11 !important;
            }
        }
    }

    &__appointment {
        &-text {
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__contact {
        &-title {
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__comments {

        &-add-comment, &-content, &-title {
            font-size: 12px;
            line-height: 24px;
        }

        &-divider {
            margin: 15px 0;
            height: 1px;
            background: #e4e4e8;
            width: 100%;
        }

        &-author, &-date {
            font-size: 11px;
            line-height: 24px;
        }

        &-rate {
            line-height: 24px;

            p {
                font-size: 12px;
            }

            i {
                font-size: 16px;
            }
        }
    }

    &-progress {
        height: 3px;
    }

    &__rules {
        &-title {
            font-size: 12px;
            line-height: 24px;
        }

        &-content {
            &--text {
                transition: .3s all;

                &-close {
                    height: 150px;
                    overflow: hidden;
                }

                &-open {
                    height: fit-content;
                }

                &-overlay {
                    position: absolute;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.6) 50%, rgb(255, 255, 255) 90%);
                    width: 100%;
                    left: 0;
                    z-index: 10 !important;
                    top: 0;
                }

            }

            &-button {
                position: relative;
                align-self: end;
                z-index: 11 !important;
            }
        }
    }

}

.doctor-times-calendar {

    &__time-container {
        width: 25%;

        &__content {
            border-radius: 8px;
            border: solid 1px $grey-stroke;
            cursor: pointer;

            &-selected {
                background: $primary;
                color: $light;
            }

            &-disable {
                pointer-events: none;
                opacity: .5;
            }
        }
    }
}

.doctor-visit-modal {

    .modal-body {
        padding: 0 !important;
    }

    .modal-footer {
        border: none !important;
    }

}


@media screen and (min-width: 768px) {
    .doctor-details {
        &__profile {
            &-image {
                width: 96px;
                height: 96px;
            }

            &-name {
                font-size: 18px;
            }

            &-expertise {
                font-size: 14px;
            }
        }

        &__description {
            &-title {
                font-size: 16px;
            }
        }

        &__contact {
            &-title {
                font-size: 16px;
            }
        }

        &__comments {
            &-title {
                font-size: 16px;
            }

            &-add-comment {
                font-size: 14px;
            }

            &-author, &-content {
                font-size: 14px;
            }

            &-date {
                font-size: 12px;
            }

            &-rate {
                p {
                    font-size: 14px;
                }

                i {
                    font-size: 20px;
                }
            }
        }

        &__appointment {
            &-text {
                font-size: 14px;
            }
        }

        &__rules {
            &-title {
                font-size: 14px;
            }
        }
    }

    .doctor-visit-modal {
        .modal-dialog {
            max-width: 640px !important;
        }

        .modal-content {
            padding: 32px 72px;

        }

        .modal-body {
            padding: 0 !important;
        }

    }


    .doctor-times-calendar {
        &__time-container {
            width: 20%;
        }
    }
}


