@import "bootstrap/scss/modal";

.modal.backdrop {
    z-index: 1501;
    background: rgba($modal-backdrop-bg, $modal-backdrop-opacity) !important;
}

.modal {
    &-content {
        background: white !important;
        border-radius: 8px !important;
        box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.30) !important;
    }

    &-body {
        padding: 16px 24px !important;
    }

    &-header {
        box-shadow: 0px -1px 0px 0px #D9D9D9 inset, 0px 1px 4px 0px rgba(0, 0, 0, 0.15) !important;
    }

    .backdrop {
        background: rgba($modal-backdrop-bg, $modal-backdrop-opacity) !important;
    }
}

.modal-dialog-pinned {
    position: absolute;
    min-height: auto;
    width: 100%;
    margin: 0;
}

